
<div class="sample-container">
    <div class="sample-close">
        <button (click)="close()">
          Close Modal
        </button>
      </div>

    <div class="sample-text">
       <!-- <div>tags {{tags}} </div>nnn -->
       <table>
        <tr *ngFor="let item of tags; let i = index;">
            
            <td *ngFor="let item2 of item; let ik = index">
                    <input type="checkbox" />
                    <span >{{item2}}</span>
            </td>
        </tr>
    </table>
        
      </div>
      <!-- <i>id: {{videoList}}</i> -->
    
</div>
