
<div class="sample-container">
    <div class="sample-close">
        <button (click)="close()">
          Close Modal
        </button>
      </div>

    <div class="sample-text">
       
        <!-- <label class="container"> 
            <input type="checkbox" [(ngModel)]="theCheckbox"  data-md-icheck (change)="toggleVisibility($event)"/>              
            <span class="checkmark"></span>
        </label>  -->


            <div *ngFor="let item of tags; let i = index">
                   zz {{i}} - {{item}}cc <br/>
                   <span class="checkmark">{{item}}</span>
            </div>

        <span *ngFor="let item of tags; let i = index">      

            <label class="container"> 
                <input id ="{{i}}" type="checkbox" [(ngModel)]="theCheckbox" />              
                <span class="checkmark">{{item}}</span>
            </label> 

            <!-- <br *ngIf="((i+1)%2) == 0" /> -->
        </span>       

      </div>
      <i>id: {{videoId}}</i>
    
</div>
