<div id="playlist33" class="playlist22">
    <ul>
        <ng-template #recursiveTree let-toc>
            <li class="wtf" *ngFor="let item of toc; let i = index">
                <div *ngIf="item.plid; else titleonly">
                      <!-- 
                          <a [routerLink]
                          <span (click)="lpl(item.plid)" >{{item.title}}</span>
                      --> &nbsp; &nbsp;&nbsp;
                        <a [routerLink] (click)="lpl(item.plid)" >{{item.title}}</a>
                </div>
                <ng-template #titleonly>
                        {{item.title}}
                </ng-template>
            <ul class="wtf" *ngIf="item.children.length > 0" >
                <ng-container *ngTemplateOutlet="recursiveTree; context:{ $implicit: item.children }"></ng-container>
            </ul>
            </li>
        </ng-template>
    <ng-container *ngTemplateOutlet="recursiveTree; context:{ $implicit: toc }"></ng-container>
    </ul>
</div>
