<div class="center">

<form [formGroup]="form" (ngSubmit)="submit()">
  <div >
    <!-- <label formArrayName="orders" *ngFor="let order of form.controls.orders.controls; let i = index"> -->
    <label formArrayName="orders" *ngFor="let order of form['controls'].orders['controls']; let i = index">
      <input class="mycheckbox" type="checkbox" [formControlName]="i">
      {{orders[i].name}}
    </label>
  </div>
 
  <div class="center" style="width:264px;" formGroupName="address">
      <h3>Add New Tags</h3>
    
      <!-- <label>
        Street:
        <input type="text" formControlName="street">
      </label>
    
      <label>
        City:
        <input type="text" formControlName="city">
      </label>
      
      <label>
        State:
        <input type="text" formControlName="state">
      </label>
     -->
      <label>
        Tags:
        <input style="width:264px;" type="text" formControlName="newtags" size="150" placeholder="coma seperated list">
      </label>
    </div>

    <br/>
    <div *ngIf="!form.valid">At least one order must be selected</div>
    <br>
    <button [disabled]="!form.valid">submit</button>
    <button type="button" (click)="cancel(); $event.preventDefault()">Cancel</button>
  </form>
</div>
  
     <!-- {{videoList}}      {{selectedVideo}} -->

  