.mdl-navigation {
    width: 100%;
  }
  
  .mdl-layout-title {
    margin-right: 10px;
  }
  
  .mdl-layout-title>img {
    height: 35px;
  }
  
  .mdl-layout__header {
    height: 64px;
    background-color: rgb(79, 111, 144);
  }
  
  .mdl-layout__content {
    right: -63px;  
    width: 85%;
    /* FM it was=> width: 95%;*/
  }
  
  .mdl-layout__header-row {
    padding: 0 40px 0 16px;
  }
  
  .mdl-layout__drawer-button {
    right: 0;
    left: inherit;
  }
  
  .blur-main-playlist-opened {
    opacity: 0.4;
    transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
  }
  
  .mdl-js-snackbar {
    bottom: 0;
    z-index: 999;
    right: 0;
    background-color: rgba(196, 48, 43, 0.85);
  }
  
  @media (max-width: 850px) {
    .mdl-layout-title>img {
      height: 30px;
    }
  }
  
  @media (max-width: 1150px) {
    .mdl-layout__content {
      width: 100%;
    }
    .yt-player,
    .ytp-cued-thumbnail-overlay {
      width: 100px;
    }
  }

  /* popup begin */

  .hidden{
    display:none;
}
.show{
    display:block;
}

#modal-container {
    position:  relative;
    top: 300px;
    left: 50%;
    width: 375px;
    background: white;
    margin-left: -187.5px;
    text-align: center;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;
}

#overlay {
    position: relative;
    top: 0px;
    left:  0px;
    z-index:  99;
    background:  rgba(0,0,0,0.8);
    width:  100%;
    height: 100%;
}
  /* end */